/* CSS files add styling rules to your content */

body {
  font-family: futura, sans-serif;
  margin: 2em;
  background-color: #F3F3F3;
  
}

#FK {
  margin-left: 5%;
  text-align: justify;
}


.MAfaktaruta {
  position: fixed; 
  display: none;
}

.FKfaktaruta {
  position: fixed; 
  display: none;

}

.HKfaktaruta {
  position: fixed; 
  display: none;

}

.BAfaktaruta {
  position: fixed; 
  display: none;
}




#wrap {
  display: flex;
  
  }

#wrap1 {
  display: flex;
  
  }

#wrap2 {
  display: flex;
  
  }

#wrap3 {
  display: flex;
  
  }

#wrap4 {
  display: flex;
  
  }


#left{
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }

#right{
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }


#titel{
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }

#titel:hover + .MAfaktaruta {
  display: flex;
  height: 30vw;
  background-color: #F3F3F3;
  width: 80vw;
  border: 2px solid black;
  padding: 30px;
}







#ruta1 {
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
}

#ruta1:hover + .FKfaktaruta {
  display: flex;
  height: 30vw;
  background-color: #F3F3F3;
  width: 80vw;
  border: 2px solid black;
  padding: 30px;
}





#ruta2 {
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }

#ruta2:hover + .HKfaktaruta {
  display: flex;
  height: 30vw;
  background-color: #F3F3F3;
  width: 80vw;
  border: 2px solid black;
  padding: 30px;

}





#ruta3 {
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }

#ruta3:hover + .BAfaktaruta {
  display: flex;
  height: 30vw;
  background-color: #F3F3F3;
  width: 80vw;
  border: 2px solid black;
  padding: 30px;

}





#ruta4 {
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }

#ruta5 {
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }

#ruta6 {
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }

#ruta7 {
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }

#ruta8 {
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }

#ruta9 {
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }

#ruta10 {
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }

#ruta11 {
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }

#ruta12 {
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }




h1 { color: black;
  font-size: 22px;
  padding: 10px;
  text-align: center}
h2 {color: black;
  font-size: 15px;
  padding: 20px;
  text-align: center}
h3 {color: black;
  font-size: 35px;
  padding: 10px;
  text-align: center;}
