/* CSS files add styling rules to your content */

body {
  font-family: futura, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #F3F3F3;
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
  
}


#FK {
  margin-left: 5%;
  text-align: justify;
}


.MAfaktaruta {
  position: fixed; 
  display: none;
}

.FKfaktaruta {
  position: fixed; 
  display: none;

}

.HKfaktaruta {
  position: fixed; 
  display: none;

}

.BAfaktaruta {
  position: fixed; 
  display: none;
}

.AMfaktaruta {
  position: fixed; 
  display: none;
}


.PMBfaktaruta {
  position: fixed; 
  display: none;
}

.ECfaktaruta {
  position: fixed; 
  display: none;
}

.MLEfaktaruta {
  position: fixed; 
  display: none;
}

.SHfaktaruta {
  position: fixed; 
  display: none;
}

.GSfaktaruta {
  position: fixed; 
  display: none;
}

.GKfaktaruta {
  position: fixed; 
  display: none;
}

.MMFfaktaruta {
  position: fixed; 
  display: none;
}

.CCfaktaruta {
  position: fixed; 
  display: none;
}




#wrap {
  display: flex;
  
  }

#wrap1 {
  display: flex;
  
  }

#wrap2 {
  display: flex;
  
  }

#wrap3 {
  display: flex;
  
  }

#wrap4 {
  display: flex;
  
  }


#left{
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }

#right{
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }


#titel{
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }

#titel:hover + .MAfaktaruta {
  display: flex;
  height: 25vw;
  background-color: #F3F3F3;
  width: 80vw;
  border: 2px solid black;
  padding: 10px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;

  
}

.MAfaktaruta h3 {
  display: flex;
  position: absolute;
  top: -2px;
  left: 39%;
  right: 0;
}

.MAfaktaruta h2 {
  position: absolute;
  top: 90px;
}







#ruta1 {
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
}

#ruta1:hover + .FKfaktaruta {
  display: flex;
  height: 40vw;
  background-color: #F3F3F3;
  width: 80vw;
  border: 2px solid black;
  padding: 10px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
}

.FKfaktaruta h1 {
  display: flex;
  position: absolute;
  top: 10px;
  left: 40%;
  right: 40%;
}

.FKfaktaruta h2 {
  position: absolute;
  top: 50px;
}


.FKfaktaruta img {
  display: flex;
  height: 21vw;
  padding: 10px;
  bottom: 0;
  margin: 15px;
  align-self: flex-end;

}







#ruta2 {
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }

#ruta2:hover + .HKfaktaruta {
  display: flex;
  height: 40vw;
  background-color: #F3F3F3;
  width: 80vw;
  border: 2px solid black;
  padding: 10px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;

}

.HKfaktaruta h1 {
  display: flex;
  position: absolute;
  top: 10px;
  left: 40%;
  right: 40%;
}

.HKfaktaruta h2 {
  position: absolute;
  top: 50px;
}


.HKfaktaruta img {
  display: flex;
  height: 21vw;
  padding: 10px;
  bottom: 0;
  margin: 10px;
  align-self: flex-end;

}









#ruta3 {
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }

#ruta3:hover + .BAfaktaruta {
  display: flex;
  height: 40vw;
  background-color: #F3F3F3;
  width: 80vw;
  border: 2px solid black;
  padding: 10px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;

}

.BAfaktaruta h1 {
  display: flex;
  position: absolute;
  top: 10px;
  left: 40%;
  right: 40%;
}

.BAfaktaruta h2 {
  position: absolute;
  top: 50px;
}


.BAfaktaruta img {
  display: flex;
  height: 21vw;
  padding: 10px;
  bottom: 0;
  margin: 15px;
  align-self: flex-end;

}









#ruta4 {
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }

#ruta4:hover + .AMfaktaruta {
  display: flex;
  height: 40vw;
  background-color: #F3F3F3;
  width: 80vw;
  border: 2px solid black;
  padding: 10px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;

}

.AMfaktaruta h1 {
  display: flex;
  position: absolute;
  top: 10px;
  left: 40%;
  right: 40%;
}

.AMfaktaruta h2 {
  position: absolute;
  top: 50px;
}


.AMfaktaruta img {
  display: flex;
  height: 21vw;
  padding: 10px;
  bottom: 0;
  margin: 3px;
  align-self: flex-end;

}










#ruta5 {
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }

#ruta5:hover + .PMBfaktaruta {
  display: flex;
  height: 40vw;
  background-color: #F3F3F3;
  width: 80vw;
  border: 2px solid black;
  padding: 10px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;

}

.PMBfaktaruta h1 {
  display: flex;
  position: absolute;
  top: 10px;
  left: 35%;
  right: 35%;
}

.PMBfaktaruta h2 {
  position: absolute;
  top: 50px;
}


.PMBfaktaruta img {
  display: flex;
  height: 21vw;
  padding: 17px;
  bottom: 0;
  margin: 25px;
  align-self: flex-end;

}












#ruta6 {
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }

#ruta6:hover + .ECfaktaruta {
  display: flex;
  height: 40vw;
  background-color: #F3F3F3;
  width: 80vw;
  border: 2px solid black;
  padding: 10px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;

}

.ECfaktaruta h1 {
  display: flex;
  position: absolute;
  top: 10px;
  left: 40%;
  right: 40%;
}

.ECfaktaruta h2 {
  position: absolute;
  top: 50px;
}


.ECfaktaruta img {
  display: flex;
  height: 21vw;
  padding: 10px;
  bottom: 0;
  margin: 25px;
  align-self: flex-end;

}









#ruta7 {
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }

#ruta7:hover + .MLEfaktaruta {
  display: flex;
  height: 40vw;
  background-color: #F3F3F3;
  width: 80vw;
  border: 2px solid black;
  padding: 10px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;

}

.MLEfaktaruta h1 {
  display: flex;
  position: absolute;
  top: 10px;
  left: 38%;
  right: 38%;
}

.MLEfaktaruta h2 {
  position: absolute;
  top: 50px;
}


.MLEfaktaruta img {
  display: flex;
  height: 21vw;
  padding: 10px;
  bottom: 0;
  margin: 2px;
  align-self: flex-end;

}











#ruta8 {
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }

#ruta8:hover + .SHfaktaruta {
  display: flex;
  height: 40vw;
  background-color: #F3F3F3;
  width: 80vw;
  border: 2px solid black;
  padding: 10px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;

}

.SHfaktaruta h1 {
  display: flex;
  position: absolute;
  top: 10px;
  left: 40%;
  right: 40%;
}

.SHfaktaruta h2 {
  position: absolute;
  top: 50px;
}


.SHfaktaruta img {
  display: flex;
  height: 21vw;
  padding: 10px;
  bottom: 0;
  margin: 15px;
  align-self: flex-end;

}














#ruta9 {
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }

#ruta9:hover + .GSfaktaruta {
  display: flex;
  height: 40vw;
  background-color: #F3F3F3;
  width: 80vw;
  border: 2px solid black;
  padding: 10px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;

}

.GSfaktaruta h1 {
  display: flex;
  position: absolute;
  top: 10px;
  left: 40%;
  right: 40%;
}

.GSfaktaruta h2 {
  position: absolute;
  top: 50px;
}


.GSfaktaruta img {
  display: flex;
  height: 21vw;
  padding: 10px;
  bottom: 0;
  margin: 3px;
  align-self: flex-end;

}












#ruta10 {
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }

#ruta10:hover + .GKfaktaruta {
  display: flex;
  height: 40vw;
  background-color: #F3F3F3;
  width: 80vw;
  border: 2px solid black;
  padding: 10px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;

}

.GKfaktaruta h1 {
  display: flex;
  position: absolute;
  top: 10px;
  left: 35%;
  right: 35%;
}

.GKfaktaruta h2 {
  position: absolute;
  top: 50px;
}


.GKfaktaruta img {
  display: flex;
  height: 21vw;
  padding: 10px;
  bottom: 0;
  margin: 12px;
  align-self: flex-end;

}











#ruta11 {
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }

#ruta11:hover + .MMFfaktaruta {
  display: flex;
  height: 40vw;
  background-color: #F3F3F3;
  width: 80vw;
  border: 2px solid black;
  padding: 10px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;

}

.MMFfaktaruta h1 {
  display: flex;
  position: absolute;
  top: 10px;
  left: 35%;
  right: 35%;
}

.MMFfaktaruta h2 {
  position: absolute;
  top: 50px;
}


.MMFfaktaruta img {
  display: flex;
  height: 21vw;
  padding: 10px;
  bottom: 0;
  margin: 25px;
  align-self: flex-end;

}














#ruta12 {
  height: 10vw;
  background-color: #F3F3F3;
  width: 40vw;
  align-self: flex-end;
  
  }

#ruta12:hover + .CCfaktaruta {
  display: flex;
  height: 40vw;
  background-color: #F3F3F3;
  width: 80vw;
  border: 2px solid black;
  padding: 10px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;

}

.CCfaktaruta h1 {
  display: flex;
  position: absolute;
  top: 10px;
  left: 40%;
  right: 40%;
}

.CCfaktaruta h2 {
  position: absolute;
  top: 50px;
}


.CCfaktaruta img {
  display: flex;
  height: 21vw;
  padding: 10px;
  bottom: 0;
  margin: 1px;
  align-self: flex-end;

}









h1 { color: black;
  font-size: 22px;
  padding: 10px;
  text-align: center}
h2 {color: black;
  font-size: 15px;
  padding: 20px;
  text-align: center}
h3 {color: black;
  font-size: 35px;
  padding: 10px;
  text-align: center;}
